h1, h3, h4{
	text-align: center;
	color: lightblue;
	font-style: ariel, sans serif;
	text-align: center;
}


body {
	background: url(http://2.bp.blogspot.com/-KvyWCCLwGMM/UiYNR3OSWcI/AAAAAAAAF5g/2MJs9R_ODKc/s1600/vT33dB9.jpg);
	color: gray;
	text-align: left;
}

article {
	padding-left: 170px;
	

}