body {
  	font-size: 14px;
  	color: magenta;
    background: lightblue
  }

  #one { /* doesn't need to be indented */
  color: white;
}

#two { /* nice rule structure */
  color: gray;
}

#three {
  color: darkgray; 
/*missing closing tag*/

{#four {/* extra curly brace at line beggining */
  color: orange;} /* closing tags are usually placed below the last rule */