body {
	background-color: white; /* nice rule indentation */
	width: 720px;
	margin: 54px;
}

#navcontainer ul {
margin: 0; /* rules inside curly braces should be indented */
padding: 0;
list-style-type: none;
color: #444444;
}


#article {
color: #dddddd; /* rules inside curly braces should be indented */
padding: 15px;
}

a {
color: #FF0000; /* rules inside curly braces should be indented */
text-align: left;
}

p {
padding: 15px; /* rules inside curly braces should be indented */
font-size: 12px;
font-family: Lato;
text-align: left;
color: #cccccc
}


hr.solid {/* nice use of more specifig selectors */
border-top: 6px solid #000000; /* rules inside curly braces should be indented */
}

h4 {
	color: black;
	font-family: Lato;
}

h3 {
	color: #cccccc;
}

hr.solid {
border-top: 1.5px solid #000000; /* rules inside curly braces should be indented */
color: #DD0000;
}



hr.red {
color: #DD0000; /* rules inside curly braces should be indented */
}

/*great styles, just a few indentation comments*/