body {
	background-color: white;
}

#container {
	width: 720px;
	margin: 54px;
}

section {
	color: #dddddd;
	padding: 15px;


hr.solid {
border-top: 6px solid #000000;
}






#ul
{
margin: 0;
padding: 0;
list-style-type: none;
}

#navbar 
 ul li 
 { display: inline; 
 }




hr.red {
color: #DD0000;
}